# Testing
# ------------------------------------------------------------------------------
mypy==0.770  # https://github.com/python/mypy
django-stubs==1.5.0  # https://github.com/typeddjango/django-stubs
pytest==5.4.2  # https://github.com/pytest-dev/pytest
pytest-sugar==0.9.3  # https://github.com/Frozenball/pytest-sugar

# Code quality
# ------------------------------------------------------------------------------
flake8==3.8.2  # https://github.com/PyCQA/flake8
flake8-isort==3.0.0  # https://github.com/gforcada/flake8-isort
coverage==5.1  # https://github.com/nedbat/coveragepy
black==19.10b0  # https://github.com/ambv/black
pre-commit==2.4.0  # https://github.com/pre-commit/pre-commit
codecov==2.1.7  # https://github.com/codecov/codecov-python

# Documentation
# ------------------------------------------------------------------------------
Sphinx==3.1.2  # https://github.com/sphinx-doc/sphinx
sphinx-rtd-theme==0.5.0  # https://github.com/readthedocs/sphinx_rtd_theme
